In [7]:
import pandas as pd
import json
import ast

In [2]:
df = pd.read_csv('post_info1.csv')

In [12]:
df = df[~(df == "Nan").any(axis=1)]
df

,Date,Comments
0,"Sunday, September 24, 2023 at 1:45 PM",['50 Ko 100 chaii kasari hunchha sir mero 50 m...
5,"Sunday, July 23, 2023 at 12:04 PM",['50 Ko 100 chaii kasari hunchha sir mero 50 m...
6,"Friday, July 14, 2023 at 6:47 PM",['50 Ko 100 chaii kasari hunchha sir mero 50 m...
39,"Sunday, November 6, 2022 at 4:36 PM","['', '', '', '', '', '', '', 'यो rate मा tv सह..."
41,"Wednesday, October 19, 2022 at 12:18 PM","['', '', '', '', '', '', '', 'यो rate मा tv सह..."
43,"Tuesday, October 11, 2022 at 1:23 PM","['', '', '', '', '', '', '', 'यो rate मा tv सह..."
45,"Wednesday, September 28, 2022 at 1:32 PM","['', '', '', '', '', '', '', 'यो rate मा tv सह..."

In [22]:

# for i in range(len(df)):
li = ast.literal_eval(df['Comments'][0])
new_df = pd.DataFrame({df['Date'][0]:li})
new_df

               Sunday, September 24, 2023 at 1:45 PM
0  50 Ko 100 chaii kasari hunchha sir mero 50 mbp...
1
2
3
4
5
6                                    3 mnths ko kati
7                                  Priya Sharma 3000

In [23]:
import json

# Example string containing a JSON array
json_string = '[1, 2, 3, 4, 5]'

# Parse the string into a list
parsed_list = json.loads(json_string)

print(parsed_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [39]:
import ast

In [27]:
string_list = ast.literal_eval(df['Comments'][0])
string_list.insert(0,df['Date'][0])
string_list

['Wednesday, September 27, 2023 at 11:08 AM',
 '',
 'Congratulations my Nepal team',
 'Worldlink भन्दा पनि छिटो।',
 'नेपाली क्रिकेट टिम।',
 'Congratulations',
 'Great job congrats Nepal',
 'Highest margin win २७३']